
body {
    background-image: url("https://media.istockphoto.com/photos/space-background-wiht-stars-stock-image-picture-id1287901429?b=1&k=20&m=1287901429&s=170667a&w=0&h=RH6-KPEq-WYftCxoKnQixr8SOwyHlWr8F8EfloDmTxg=");
  );
    background-repeat: no-repeat;
     background-size: 100% 100%;
     }
    
  h1 {
    font-family: 'Sofia', sans-serif;
    font-size: 60px;
   
  }
  .columns{
    display: grid;
    width: 1000px;
    grid-template-columns: 120px 120px 120px 120px 120px;
    align-items: start;
    justify-content: space-between;
    
  }
  
  