body {
  background-color: #1c1c1c;
  margin: 0;
}
span {
  color: #10b981;
  position: absolute;
  top: 38px;
}
h1 {
  margin: auto 0;
}
img {
  position: relative;
  height: 40%;
  width: 40%;
}

.support {
  position: absolute;
  width: 372px;
  height: 28px;
  left: 52px;
  top: 208px;

  /* text-xl/leading-7/font-normal */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */

  /* Medium grey */

  color: #d5d4d8;
}

.container {
  position: absolute;
  width: 550px;
  height: 550px;
  left: 62px;
  top: 64px;

  background: #1f2937;
}

header {
  position: absolute;
  width: 354px;
  /* height: 80px; */
  left: 52px;
  top: 118px;

  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  /* or 100% */

  letter-spacing: -0.025em; /* white */

  color: #ffffff;
}

.generate-btn {
  /* Button */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 17px 9px 15px;

  position: absolute;
  width: 223px;
  height: 42px;
  left: 52px;
  top: 305px;

  background: #10b981;
  /* shadow/sm */

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* white */

  color: #ffffff;
}
.pw1 {
  position: absolute;
  width: 211px;
  height: 39px;
  left: 52px;
  top: 391px;
}
.pw2 {
  position: absolute;
  width: 211px;
  height: 39px;
  left: 287px;
  top: 391px;
}

.pw3 {
  position: absolute;
  width: 211px;
  height: 39px;
  left: 52px;
  top: 457px;
}
.pw4 {
  position: absolute;
  width: 211px;
  height: 39px;
  left: 287px;
  top: 457px;
}
.pw1,
.pw2,
.pw3,
.pw4 {
  background: #273549;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 10;
  color: #10b981;
}
