body{
    margin:0;
}
p{
    font-size:24px;
    font-weight: bold;
}
.textcontainer{
    text-align: center;
}
kbd{
    font-family: Consolas, "Lucida Console", monospace;
  display: inline-block;
  border-radius: 3px;
  padding: 0px 4px;
  box-shadow: 1px 1px 1px #777;
  margin: 2px;
  font-size: small;
  vertical-align: text-bottom;
  background: #eee;
  font-weight: 500;
  color: #555;
  cursor: pointer;
  font-variant: small-caps;
  font-weight: 600;

  /* This two work */
  /* letter-spacing: 0.5px; */
  letter-spacing: 1px;

}
button{
    width: 300px;
    height: 80px;
    background-color: black;
    color:hotpink;
    display: flex;
    flex-direction: column-reverse;
    font-weight: bold;
    border-radius: 5px;
    margin:0 auto;
    padding-bottom: 30px;
    
}
.drum{
    margin-top: 30px;
    align-items: center;
    transition:all 100ms;
    
}
.playing{
    box-shadow:  0px 0px 15px;

    
}



